{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">

      <div class="card shadow-sm">
        <div class="card-body p-4">

          <h4 class="text-center mb-4">Create Account</h4>

          <form method="POST">
            {% csrf_token %}

            <!-- Username -->
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" name="username" class="form-control" required>
            </div>

            <!-- Password -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password1" class="form-control" required>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="password" name="password2" class="form-control" required>
            </div>

            <button class="btn btn-success w-100">
              Sign Up
            </button>
          </form>

          <p class="text-center mt-3 mb-0">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
